.list-item {
  &__item {
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    padding: 20px 0;
  }

  &__pic {
    @extend %material-icons;
    font-size: 3rem;
    line-height: 3rem;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }
  &__text {
    display: inline-block;
    line-height: 1.5rem;
    max-width: 90%;
  }
  &--is-picture &__pic {
    background-clip: border-box;
    width: 48px;
    height: 48px;
  }
  &--is-bullet &__pic {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: $dark-shade-25;
    background-clip: border-box;
    top: 6px;
  }

  &--is-text &__pic {
    display: none;
  }

  &--is-text &__text {
    margin-left: 18px;
  }
}
