extends ../index.pug
block variables
  - var title = "Search room/Filter";
  - var author = "enlore";
  - var theGreat = "<span>escape!</span>";
block header
  include ../../blocks/header/header
  +header("toxin")
 
block content

    - var  fs = require('fs')
    - var rootDir = require('path').resolve() 
    - var dataJsonRoom = JSON.parse(fs.readFileSync(rootDir+'/src/blocks/room/room.json'));
    - var roomNumber = 888
    - for (var x = 0; x < dataJsonRoom.length; x++)
       if(dataJsonRoom[x].roomNumber===roomNumber)
        - var data= dataJsonRoom[x]

    include ../../blocks/pie-chart/pie-chart
    include ../../blocks/room-photos/room-photos
    include ../../blocks/extra-list/extra-list
    include ../../blocks/feedback/feedback
    include ../../blocks/list/list
    include ../../blocks/card-booking/card-booking
    include ../../blocks/text-field/text-field

    .room-details
      .room-details__photo-box
        +room-photos(
          { 
            imageItems      : data.imageItems,
            numPhotos       : [4]
          }
        )(class="room-details__room-photos-left")
        +room-photos(
          { 
            imageItems      : data.imageItems,
            numPhotos       : [2,3]
          }
        )(class="room-details__room-photos-right")

      section.room-details__room-section
        +extra-list(
          {
            title: "Сведения о номере",
            items: data.details.items

          })(class="room-details__room-about")
        +pie-chart([
          { name: 'Разочарован', amount: 0 },
          { name: 'Удовлетворительно', amount: 65 },
          { name: 'Хорошо', amount: 65 },
          { name: 'Великолепно', amount: 130 }
        ], 'Впечатления от номера')(class="room-details__votes")

        +feedback(
          {
            feedbackTitle: "Отзывы посетитилей номера",
            feedbackItems: data.feedbackItems
          }
        )(class="room-details__feedback")

        +list({
          title        : "Правила",
          listItemClass: "list-item--is-bullet",
          items        : data.rules 
          }
        )(class="room-details__rules list--theme-toxin")
        +list({
          title        : "Отмена",
          listItemClass: "list-item--is-text",
          items        : data.cancel
          }
        )(class="room-details__cancel list--theme-toxin")

        +card-booking(data)(class="room-details__card-booking")

block footer
  include ../../blocks/footer/footer
  +footer('toxin')