@import "../../blocks/header/header";
@import "../../blocks/footer/footer";
@import "../../blocks/card-find-number/card-find-number";

.landing-page{
    height: 830px;
    background-image: url(../../img/landing-page.jpg);
    background-position: center -71px;

    &__card-find-number{
        position: absolute;
        top: 140px;
        left: 140px;
    }
}
