block variables
  - var title = "Landing page";
  - var author = "enlore";
  - var theGreat = "<span>escape!</span>";

block header

block content
  include ../../blocks/header/header
  include ../../blocks/footer/footer
  include ../../blocks/card-find-number/card-find-number
  +header("toxin")
  .landing-page
    +card-find-number({
        cardClass : "landing-page__card-find-number"
    })
  +footer('toxin')