mixin room-photos(dataRoom)
    .room-photos&attributes(attributes)
        each numPhoto in dataRoom.numPhotos
            img(class="room-photos__photo" src=dataRoom.imageItems[numPhoto-1].imagePath alt="room")
