block variables
  - var title = "Form Elements";
  - var author = "enlore";
  - var theGreat = "<span>escape!</span>";
block header
block content
  include ../../blocks/logo/logo
  include ../../blocks/text-field/text-field
  include ../../blocks/drop-down/drop-down
  include ../../blocks/drop-down-date/drop-down-date
  include ../../blocks/checkbox-list/checkbox-list
  include ../../blocks/radio-list/radio-list
  include ../../blocks/toggle/toggle
  include ../../blocks/like-button/like-button
  include ../../blocks/rate-button/rate-button
  include ../../blocks/range-slider/range-slider

  .form-elements
    +logo("../../../assets/img/logo.svg","red")
    .form-elements__section-top
      +text-field(
          {
          type          : "text",
          title        : "Text Field",
          titleText    : "Default",
          placeholder  : "Email",
          }
        )
      +text-field(
          {
          type          : "text",
          title        : "Text Field",
          titleText    : "Hover / Focus",
          inputText    : "This is pretty awesome"
          }
        )
      +drop-down(
          {
           type          : "guests",
           title         : "Dropdown",
           titleText    : "Default"
          }
      )(class="form-elements__guests")
      +text-field(
          {
          type          : "mask",
          title        : "masked text field",
          titleText    : "Default"
          }
        )(class="form-elements__date")

      +drop-down-date(
        {
          type          : "date",
          titleFrom     : "date Dropdown",
          titleTo       : "date Dropdown"
        }
      )(class="form-elements__drop-down-date")
      +drop-down-date(
        {
          type          : "date-width-short",
          titleFrom     : "filter date dropdown"
        }
      )(class="form-elements__filter-date")
      +text-field(
          {
          type          : "arrow-short",
          title        : "subscription text field",
          placeholder  : "Email",
          }
        )
      +checkbox-list(
        {
          type    : "allowed",
          name    : "check-allowed",
        
           
        }
      )(class="form-elements__allowed")
      +radio-list(
        {
          type    : "men-woman",
          title   : "Radio Buttons"
        }
      )(class="form-elements__sex")
      .form-elements__toggles
        h3.form-elements__toggles-title toggle
        +toggle(
          {
            text: "Получать спецпредложения",
            name: "tog1",
            value: true
          }
        )
        +toggle(
          {
            text: "Получать спецпредложения",
            name: "tog2",
            value: false
          }
        )
      .form-elements__like-buttons
        h3.form-elements__like-buttons-title like button 
        +like-button(
          { name      : "like1",
           value     : 2,
           checked   : false

          }
        )
        +like-button(
         { name      : "like1",
           value     : 12,
           checked   : true

          }
       )

      .form-elements__rate-buttons
        h3.form-elements__rate-buttons-title rate button 
        +rate-button(
          { 
            name      : "rate-1",
            value     : 5,
            checked   : 4
          }
        )
        +rate-button(
          { 
            name      : "rate-2",
            value     : 5,
            checked   : 5
          }
        )
        +range-slider({
            title            : "range slider",
            value            : "5 000₽ - 10 000₽",
            text             : "Стоимость за сутки пребывания в номере"
        })
      
    .form-elements__section-expanded
      +drop-down(
          {
           type          : "rooms",
           title         : "Dropdown",
           titleText    : "Default"
          }
      )(class="form-elements__rooms")
