block variables
  - var title = "Form Elements";
  - var author = "enlore";
  - var theGreat = "<span>escape!</span>";
block header
block content
  include ../../blocks/text-field/text-field
  include ../../blocks/drop-down/drop-down
  include ../../blocks/checkbox-list/checkbox-list
  include ../../blocks/extra-list/extra-list
  include ../../blocks/radio-list/radio-list  
  include ../../blocks/toggle-list/toggle-list   
  include ../../blocks/logo/logo
  .block
    +logo("../../../assets/img/logo.svg","red")
    +text-field(
        {title        : "Text Field",
         titleText    : "Default",
         placeholder  : "Email",
         inputText    : "",
         readOnly     : false,
         buttonText   : ""
         }
      )
    +text-field(
        {title        : "Text Field",
         titleText    : "Hover / Focus",
         placeholder  : "",
         inputText    : "This is pretty awesome",
         readOnly     : false,
         buttonText   : ""
         }
      )
    +drop-down(
        {title        : "Dropdown",
         titleText    : "Default",
         placeholder  : "Сколько гостей",
         inputText    : "",
         readOnly     : true,
         buttonText   : "",
         items        : []
         }
      )
    +text-field(
        {title        : "masked text field",
         titleText    : "Default",
         placeholder  : "ДД.ММ.ГГГГ",
         inputText    : "",
         readOnly     : false
         }
      )
    .double-drop
      +drop-down(
        {title        : "date Dropdown ",
         titleText    : "",
         placeholder  : "ДД.ММ.ГГГГ",
         inputText    : "",
         readOnly     : true,
         items        : []
         }
      )(class="double-drop__drop-down")
      +drop-down(
        {title        : "date Dropdown ",
         titleText    : "",
         placeholder  : "19.08.2019",
         inputText    : "",
         readOnly     : true,
         buttonText   : "",
         items        : []
         }
      )(class="double-drop__drop-down")
    .filter-date
      +text-field(
          {title        : "filter date dropdown",
           titleText    : "",
           placeholder  : "19 авг - 23 авг",
           inputText    : "",
           readOnly     : true,
           buttonText   : "expand_more"
           }
        )(class="text-field--width-s text-field--placeholder-dark-75")
    +text-field(
        {title        : "subscription text field",
         titleText    : "",
         placeholder  : "Email",
         inputText    : "",
         readOnly     : false,
         buttonText   : "arrow_forward"
         }
      )
    +drop-down(
        {title         : "Dropdown",
         titleText     : "Default",
         placeholder   : "2 спальни, 2 кровати...",
         inputText     : "",
         readOnly      : true,
         buttonText    : "",
         textFieldClass: "text-field--placeholder-dark-75 text-field--menu-visible",
         items        : [
           {text      : "Спальни",
            value     : 2
           },
           {text      : "Кровати",
            value     : 2
           },
           {text      : "Ванные комнаты",
            value     : 0
           }
         ],
         dropDownClass: "drop-down--width-s"
         }
      )

    +checkbox-list(
      {title       : "expandable checkbox list",
      buttonText   : "expand_more",
      name         : "clnw",
      checkboxClass: "", 
      items        : []
      }
      )

    +checkbox-list(
    {title       : "expandable checkbox list",
    buttonText   : "expand_more",
    name         : "cl",
    checkboxClass: "checkbox-list--menu-visible", 
    items        : [
      {text      : "Завтрак",
       value     : false
      },
      {text      : "Письменный стол",
       value     : true
      },
      {text      : "Стул для кормления",
       value     : true
      },
      {text      : "Кроватка",
       value     : true
      },
      {text      : "Телевизор",
       value     : false
      },
      {text      : "Шампунь",
       value     : false
      },
      {text      : "Телевизор",
       value     : false
      },
      {text      : "Шампунь",
       value     : false
      }
    ]
    }
    )
    +extra-list(
      {items        : [
        {title     : "Комфорт",
         text      : "Шумопоглощающие стены",
         symbol    : "insert_emoticon"
        },
        {title     : "Удобство",
         text      : "Окно в каждой из спален",
         symbol    : "location_city"
        }
      ]
      }
      )
    +checkbox-list(
    {title       : "expandable checkbox list",
    buttonText   : "expand_more",
    name         : "cl",
    checkboxClass: "checkbox-list--menu-visible", 
    items        : [
      {text      : "Можно курить",
       value     : false
      },
      {text      : "Можно с питомцами",
       value     : true
      },
      {text      : "Можно пригласить гостей (до 10 человек)",
       value     : true
      }
    ]
    }
    )
    +radio-list(
      { title      : "Radio Buttons", 
        items      : [
        {title     : "Мужчина",
         value     : true
        },
        {title     : "Женщина",
         value     : false
        }
      ]
      }
      )
    +toggle-list(
      { title      : "Toggle", 
        items      : [
        {title     : "Получать спецпредложения",
         name      : "tog1",
         value     : true
        },
        {title     : "Получать спецпредложения",
         name      : "tog2",
         value     : false
        }
      ]
      }
      )