%range {
  background: $primary-gradient-25;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.air-datepicker {
  //width: 100%;
  .datepicker {
    width: 100%;
    margin-right: 0;
    border: none;
    box-sizing: border-box;

    &--body {
      padding-left: 16px;
      padding-right: 14px;
    }

    &--cell {
      //border-radius: 50%;

      &.-range-from-,
      &.-range-to- {
        background: $dark-shade-50;
        border-radius: 50%;
        border: none;
        color: $white;
      }

      &.-range-from-::after {
        @extend %range;
        border-radius: 50% 0 0 50%;
      }

      &.-range-to-::before {
        @extend %range;
        border-radius: 0 50% 50% 0;
      }

      &.-current- {
        background: $secondary-gradient;
        border-radius: 50%;
        color: $white;

        &.-in-range- {
          background: $secondary-gradient;

          position: relative;

          &::after {
            @extend %range;
          }
        }
      }

      &.-selected- {
        background: $primary-gradient;

        border-radius: 50%;
        position: relative;

        &.-range-from-::after,
        &.-range-to-::before {
          @extend %range;
        }

        &.-focus- {
          background: $primary-color;
        }
      }

      &.-in-range- {
        background: $primary-gradient-25;

        &.-focus- {
          background: $primary-gradient-50;
        }
      }
    }

    &--cell-day {
      &.-other-month- {
        &.-selected- {
          background: $primary-gradient;
          &.-focus- {
            background: $primary-color;
          }
        }

        &.-in-range- {
          background: $primary-gradient-25;

          &.-focus- {
            background: $primary-gradient-50;
          }
        }
      }
    }

    &--nav {
      border: none;
      padding: 18px 10px 12px 15px;
    }

    &--nav-action  {
      margin-top: -2px;
    }

    &--nav-action:last-child  {
      margin-top: -5px;
      margin-right: 5px;
    }

    &--nav-action svg {
      width: 16px;
      height: 17px;
    }

    &--nav-action:first-child svg {
      stroke: none;
      transform: rotate(180deg);
    }

    &--nav-action svg path {
      stroke: none;
      fill: $purple;
      d: path(
        "M8.36301 0.984375L16.3786 9L8.36301 17.0156L6.95676 15.6094L12.5349 9.98438H0.347383V8.01562H12.5349L6.95676 2.39062L8.36301 0.984375Z"
      );
    }

    &--nav-title {
      font-family: $mainFont;
      @extend %h2;

      color: dark-shade-100;
      i {
        @extend %h2;
        font-family: $mainFont;
        color: dark-shade-100;
      }
    }

    &--days-names {
      margin-bottom: 0;
    }

    &--day-name {
      @extend %h3;
      color: $purple;
      max-width: 39.88px;
      height: 40px;
      text-transform: none;
      font-weight: normal;
    }

    &--cell-day {
      @extend %h3;
      color: $dark-shade-50;
      font-weight: normal;
      width: 14.2%;
      height: 40px;
    }
    
  }

  &.air-datepicker--width-small{
    
    &--cell-day {
      @extend %h3;
      color: $dark-shade-50;
      font-weight: normal;
      width: 30px;
      height: 30px;
    }
  }

}
