@import "utils/libs";
@import "utils/vars";
@import "utils/mixins.scss";
@import "utils/fonts.scss";
//@import "utils/reset";






html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $mainFontColor;
    height: 100%;
    @media screen and (max-width: $desktopWidth) {
        font-size: 16px;
    }
    @media screen and (max-width: $tableWidth) {
        font-size: 15px;
    }
    @media screen and (max-width: $phoneWidth) {
        font-size: 14px;
    }
}

body {
    width: $desktopWidth;
    margin: 0;
    padding: 0;
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    color: $dark-shade-100;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    color: $dark-shade-100;
    font-family: $secondFont;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

h2 {
    color: $dark-shade-100;
    font-family: $secondFont;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;

}

h3 {
    font-family: $mainFont;
    @extend %h3; 
    
}
  


*,
*:before,
*:after {
    box-sizing: border-box;
}
// Modules
 @import "modules/header.scss";
 //@import "modules/content.scss";
 //@import "../../pug/pages/colors-and-types/colors-and-types.scss";
@import "../../pug/pages/cards/cards";
//@import "~bootstrap/dist/css/bootstrap.min.css"; 