.extra-list {
  &__title {
    @extend %h2;
  }

  &__item {
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    padding: 1.25rem 0;
  }

  &__item-pic {
    @extend %material-icons;
    font-size: 3rem;
    line-height: 3rem;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    float: left;
    margin-right: 10px;
  }
  &__item-text {
    line-height: 1.5rem;
  }
}
