mixin rate-button(data)
    .rate-button
      .rate-button__items
        - for (var x = 0; x < data.value; x++){
          
          if (data.checked==(x+1)) 
           - var checkedItem = true
          else
           - var checkedItem = false
          input(type="radio", class="rate-button__item-input", name=data.name,id=data.name+"-"+(x+1),checked=checkedItem)
          div.rate-button__item-span  
            label.rate-button__item-label(for=id=data.name+"-"+(x+1))
        -}