include ../drop-down-date/drop-down-date
include ../drop-down/drop-down
include ../range-slider/range-slider
include ../checkbox-list/checkbox-list
include ../extra-list/extra-list


mixin room-filter(data)
  .room-filter
    +drop-down-date(
      {
        type          : "date-single",
        titleFrom     : "Даты пребывания в отеле"
      }
    )(class="room-filter__dates")
    +drop-down(
        {
         type          : "guests",
         title         : "Гости",
        }
    )(class="room-filter__guests")
    
    +range-slider(
      {
        title            : "Диапазон цены",
        value            : "5 000₽ - 10 000₽",
        text             : "Стоимость за сутки пребывания в номере"
      }
    )(class="room-filter__cost")
    +checkbox-list(
      {
        type    : "allowed",
        title        : "Checkbox Buttons",
      }
    )(class="room-filter__check-list-1 ")
    +checkbox-list(
      {
        type: "rich",
        title: "Доступность",
      }
    )(class="room-filter__check-list-2")
    +drop-down(
      {
       type          : "rooms",
       title         : "Удобства номера",
      }
    )(class="room-filter__rooms")
    +checkbox-list(
      {
        type    : "funiture",
        title   : "Дополнительные удобства",
        name    : "check-allowed",
      }
    )