@import "../../blocks/air-datepicker/air-datepicker.scss";
@import "../../blocks/air-datepicker/datepicker.min";

.calendar{
    width: 320px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;

    &__datepicker{
        margin-bottom: 17px;
        }
    
    &__buttons{
        padding: 0 20px 20px 20px;
        display: flex;
        justify-content: space-between;
    }
    
    &__button-clear{
       


    }
    &__button-apply{
        
        

    }

}
        
    