block variables
  - var title = "Colors & Types";
  - var author = "enlore";
  - var theGreat = "<span>escape!</span>";
block header
block content
  include ../../blocks/rich-list-colors/rich-list-colors
  include ../../blocks/logo/logo
  +logo("../../../assets/img/logo.svg","red")
  .container
    
    +rich-list-colors([["Dark Shade 100%","#1F2041","#1F2041"],
                       ["Dark Shade 75%","#1F2041","rgba(31, 32, 65, 0.75)"],
                       ["Dark Shade 50%","#1F2041","rgba(31, 32, 65, 0.5)"], 
                       ["Dark Shade 25%","#1F2041","rgba(31, 32, 65, 0.25)"],
                       ["Dark Shade 5%","#1F2041","rgba(31, 32, 65, 0.05)"],
                       ["Purple","#BC9CFF","#BC9CFF"],
                       ["Green","#6FCF97","#6FCF97"]                                     
                       ])

    //tag- выводимое имя, addTag - тег добавляемы в разметку
    - 
      var tagItems = [
        {tag: "H1", text : "This one is the sub-section or widget title"},
        {tag: "H2", text : "Next one is the item title inside widgets"},
        {tag: "H3", text : "This is a label or CTA text"},
        {tag: "body", text : "This is the body text which is used for most of the design, like paragraphs, lists, etc."}
      ]

    .types-list
      .types-list__items
        each item in tagItems
          .types-list__item
           .types-list__item-tag
             #{item.tag} #{item.tag}
           .types-list__item-text
             #{item.tag}= item.text
  
block footer         