@import "../../blocks/rich-list-colors/rich-list-colors.scss";

.logo {
    position: absolute;
    left: 30px;
    top:30px;
    margin: 0;
}
svg path {
    position: absolute;

    fill: rgba(31, 32, 65, 0.25);

}

.container{
    
    margin: 145px 150px;
    padding:0;
    width: 1440px;
    //Claarfix
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.container__types-list {
    //display: inline-block;
    //vertical-align: top;
    //width: 50%;
    float: right;
}


.container__rich-list-colors {
    float: left;
    //display: inline-block;
    //vertical-align: top;
    //text-align: right;
    //width: 50%;
}

.types-list {
    &__item{
        margin-bottom: 50px;
    }

    &__item-tag{
        display: inline-block;
        width: 30px;
        vertical-align: top;
        text-align: right;

    }

    &__item-text{
        width: 350px; 
        margin-left: 30px;
        display: inline-block;
    }



}