include ../twbs-pagination/twbs-pagination

mixin pagination(data)
  .pagination(class=data.paginationClass)
    .pagination__title= data.title
    .pagination__box
      +twbs-pagination()
    .pagination__text= data.text

