$assets : '../../assets'; //Path to assets
// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
/* Import fonts */

/* quicksand-regular - latin */
@font-face {
     font-family: 'Quicksand';
     font-style: normal;
     font-weight: normal;
     src:           
     url($assets+'/fonts/Quicksand-Regular.woff') format('woff'), /* Modern Browsers */
     url($assets+'/fonts/Quicksand-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
     url($assets+'/fonts/Quicksand-Regular.svg') format('svg'); /* Legacy iOS */
   }


  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    src:           
    url($assets+'/fonts/Quicksand-Bold.woff') format('woff'), /* Modern Browsers */
    url($assets+'/fonts/Quicksand-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url($assets+'/fonts/Quicksand-Bold.svg') format('svg'); /* Legacy iOS */
  }
  @font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: bold;
     src:           
     url($assets+'/fonts/Montserrat-Bold.woff') format('woff'), /* Modern Browsers */
     url($assets+'/fonts/Montserrat-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
     url($assets+'/fonts/Montserrat-Bold.svg') format('svg'); /* Legacy iOS */
   }


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src:           
    url($assets+'/fonts/Montserrat-Regular.woff') format('woff'), /* Modern Browsers */
    url($assets+'/fonts/Montserrat-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url($assets+'/fonts/Montserrat-Regular.svg') format('svg'); /* Legacy iOS */
  }


  @font-face {
     font-family: 'Material Icons';
     font-style: normal;
     font-weight: normal;
     src:
          url($assets+'/fonts/Material-Icons-Regular.woff') format('woff'), /* Modern Browsers */
          url($assets+'/fonts/Material-Icons-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url($assets+'/fonts/Material-Icons-Regular.svg') format('svg'); /* Legacy iOS */
   }

   @font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    src:
         url($assets+'/fonts/Font Awesome 5 Brands-Regular.woff') format('woff'), /* Modern Browsers */
         url($assets+'/fonts/Font Awesome 5 Brands-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url($assets+'/fonts/Font Awesome 5 Brands-Regular.svg') format('svg'); /* Legacy iOS */
  }
 
