//@import "../../blocks/header/header";
//@import "../../blocks/footer/footer";
//@import "../../blocks/room-filter/room-filter";
//@import "../../blocks/room-list/room-list";
//@import "../../blocks/pagination/pagination";
.search-room {
  padding: 30px 140px 70px 140px;
  display: grid;
  grid-template-columns: 266px auto;
  grid-column-gap: 60px;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  background: $white;
  height: 1356px;
  

  &__result{
    width:auto;
    display: grid;
    grid-template-rows: 50px auto auto;

  }

  &__room-list{
    width: 834px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    grid-row-gap: 23px;
  }

  &__result-title{
    padding: 0;
    margin: 0;
  }

  &__pagination{
    border: 1px solid red;
    justify-self: center;
    margin-right: 20px;
    margin-top: 25px;
  }


}
