include ../../blocks/dataFromJSON/dataFromJSON
mixin button(data)
  +dataFromJSON("button", data)
  button(class="button " + data.buttonClass, name= data.name)&attributes(attributes)
    div.button__text= data.text
    if (data.symbol)
      .button__symbol= data.symbol


