.text-field{
    width: 100%;
    &__title {
    margin: 0 0 3px 0;
    }

    &__title-text{
        @extend %h3;
        color: $dark-shade-50;
        float: right;
        text-align: right;
        
    }
    
    &__input-box{
        width: 100%;
        display:flex;
        border: 1px solid $dark-shade-25;
        border-radius: 4px;
        &:focus, &:hover {
            border: 1px solid $dark-shade-50;

        }
    }

    &__input{
        @extend %input;
    }

    &__input-button{
        width: 42px;
        @extend %material-icons;
        color: $dark-shade-50;
    }

    &--menu-visible &__input-button{
        color: $dark-shade-75;
    }
    &--menu-visible &__input-box{
        border-radius: 4px 4px 0 0 ; 
    }

    &--placeholder-dark-75 &__input::placeholder{
        color: $dark-shade-75;    
    }
    &--width-s{
        width: 83.125%;
    }
    &--display-inline-block{
        display: inline-block;
        width: 40%;
    }


  
}
