include ../calendar/calendar
include ../text-field/text-field

mixin drop-down-date(data) 
  - var blockName = "drop-down-date"
  +dataFromJSON(blockName, data)
  .drop-down-date.js-drop-down-date(class=data.dropDownClass)&attributes(attributes)
    .drop-down-date__dates  
      +text-field( 
        {
          type          : blockName,
          title         : data.titleFrom,
          textFieldClass: data.textFieldClass,
          placeholder   : data.textFieldPlaceholder
        }
        )
      if (data.titleTo)
        +text-field(
        {
          type          : blockName,
          title         : data.titleTo,
          textFieldClass: data.textFieldClass,
          placeholder   : data.textFieldPlaceholder
        }
        )
    .drop-down-date__menu
      +calendar({
        calendarClass: "drop-down-date__calendar " + data.calendarClass 
      })
      if(data.menuButtons)
        .drop-down-date__menu-buttons
          each item in data.menuButtons 
            +button({ 
              type       : item.type
              })



