.extra-list{
    &__title {
        @extend %h2;
        margin-bottom: 20px;
      }
      
    &__item{
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        padding: 20px 0;
    }

    &__item-pic{
        @extend %material-icons;
        font-size: 48px;
        line-height: 48px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        float: left;
        margin-right: 10px;
    }
    &__item-text{
        line-height: 24px;
    }

}