@import "../../blocks/air-datepicker/air-datepicker.scss";
@import "../../blocks/air-datepicker/datepicker.min";

.calendar {
  width: 100%;
  box-sizing: border-box;
  &__datepicker {
    margin-bottom: 17px;
  }
}
