mixin calendar(data)
  .calendar 
    div(class="datepicker-here air-datepicker "+data.calendarClass data-range="true" data-multiple-dates-separator=" - ",  data-nav-titles= {days: 'MM <i>yyyy</i>'}) 
