@import "../../blocks/header/header";
@import "../../blocks/footer/footer";
@import "../../blocks/pie-chart/pie-chart";
@import "../../blocks/room-photos/room-photos";
@import "../../blocks/feedback/feedback";
@import "../../blocks/list/list";

.room-details{
    width:1000px;
    
    &__photo-box{
        display: grid;
        grid-template-columns: 981fr 461fr;
        grid-template-rows: 485fr;
        //height: 485px;
    

    }


    

    
}