@import "../../blocks/header/header";
@import "../../blocks/footer/footer";
@import "../../blocks/pie-chart/pie-chart";
@import "../../blocks/room-photos/room-photos";
@import "../../blocks/feedback/feedback";
@import "../../blocks/list/list";
@import "../../blocks/card-booking/card-booking";



.room-details{
    display: block;
    
    &__photo-box{
        display: grid;
        grid-template-columns: 981fr 461fr;
        grid-template-rows: 485fr;
        justify-items: end;
        
    

    }

    &__room-section{
        background: $white;
        //width: 100%;
        display: grid;
        column-gap: 70px;
        row-gap: 12px; 
        padding: 5.2% 10%;
        grid-template-columns: 290px 350px 380px ;
        grid-template-rows: auto auto 200px;

    }

    &__room-about{
        grid-column: 1;
	    grid-row: 1;

    }
    &__feedback{
        grid-column: 1/3;
	    grid-row: 2;

    }

    &__card-booking{
        grid-column: 3;
        grid-row: 1/3;

    }

    &__cancel{
        margin-left: -18px;
    }


    

    
}