mixin dataFromJSON(blockName, data)
  - var  fs = require('fs')
  - var rootDir = require('path').resolve() 
  - var dataElement = JSON.parse(fs.readFileSync(rootDir + '/src/pug/blocks/' + blockName +'/' + blockName + '.json'));
  - for (x = 0; x < dataElement.length; x++)
    if dataElement[x].type === data.type
      - Object.assign(data, dataElement[x]); 