.form-elements {
  padding: 143px 141px;

  &__logo {
    position: absolute;
    left: 30px;
    top: 30px;
    margin: 0;
  }

  &__section {
    display: grid;
    grid-template-columns: minmax(320px, 320px) minmax(320px, 320px) minmax(
        320px,
        320px
      );
    grid-template-rows: auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 126px;
    background: $white;

    @media (max-width: 1200px) {
      grid-template-columns: minmax(320px, 320px) minmax(320px, 320px);
      grid-template-rows: auto auto auto auto;
    }

    @media (max-width: 800px) {
      grid-template-rows: auto auto auto auto;
      grid-template-columns: minmax(320px, 320px);
      justify-content: center;
    }
  }

  &__text {
    margin-bottom: 20px;
  }

  &__guests {
    margin-bottom: 20px;
  }

  &__date {
    margin-bottom: 20px;
  }

  &__drop-down-date {
    margin-bottom: 20px;
  }

  &__filter-date {
    margin-bottom: 20px;
  }

  &__subscription {
    margin-bottom: 20px;
  }

  &__allowed {
    grid-row: span 2;
    width: 230px;
  }

  &__sex {
    margin-bottom: 20px;
  }

  &__offer {
    margin-bottom: 20px;
  }

  &__toggles {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content max-content;
    grid-row-gap: 10px;
  }

  &__rooms {
    margin-bottom: 20px;
  }

  &__like-buttons {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }

  &__like-buttons-title {
    grid-column: span 2;
  }

  &__rate-buttons {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    grid-column-gap: 20px;
    grid-row-gap: 17px;
    grid-row: span 2;
  }

  &__rate-buttons-title {
    grid-column: span 2;
  }

  &__price-slider {
    margin-bottom: 20px;
  }

  &__buttons {
  }

  &__buttons-title {
    margin-bottom: 16px;
  }

  &__button1 {
    margin-right: 19px;
    margin-bottom: 30px;
  }

  &__button2 {
    margin-right: 19px;
  }

  &__button3 {
    margin-right: 19px;
    margin-bottom: 25px;
  }

  &__button4 {
    margin-right: 59px;
  }

  &__button5 {
    margin-right: 23px;
    margin-bottom: 30px;
  }

  &__feedback {
    grid-column: span 2;
    @media (max-width: 800px) {
      grid-column: span 1;
    }
  }
}
