extends ../index.pug
block variables
  - var title = "Form Elements";
  - var author = "enlore";
  - var theGreat = "<span>escape!</span>";
block header
block content
  include ../../blocks/logo/logo
  include ../../blocks/text-field/text-field
  include ../../blocks/drop-down/drop-down
  include ../../blocks/drop-down-date/drop-down-date
  include ../../blocks/checkbox-list/checkbox-list
  include ../../blocks/radio-list/radio-list
  include ../../blocks/toggle/toggle
  include ../../blocks/like-button/like-button
  include ../../blocks/rate-button/rate-button
  include ../../blocks/range-slider/range-slider
  include ../../blocks/pagination/pagination
  include ../../blocks/list/list
  include ../../blocks/extra-list/extra-list
  include ../../blocks/feedback/feedback

  .form-elements
    +logo({
      logoClass: "form-elements__logo",
    })
    
    .form-elements__section
      .form-elements__fields
        +text-field(
            {
            type          : "text",
            title        : "Text Field",
            titleText    : "Default",
            placeholder  : "Email",
            }
        )(class="form-elements__text")
        +drop-down(
            {
             type          : "guests",
             title         : "Dropdown",
             titleText    : "Default"
            }
        )(class="form-elements__guests")
        +text-field(
            {
            type          : "mask",
            title        : "masked text field",
            titleText    : "Default"
            }
        )(class="form-elements__date")

        +drop-down-date(
          {
            type          : "date",
            titleFrom     : "date Dropdown",
            titleTo       : "date Dropdown"
          }
        )(class="form-elements__drop-down-date")
        +drop-down-date(
          {
            type          : "date-width-short",
            titleFrom     : "filter date dropdown"
          }
        )(class="form-elements__filter-date")
        +text-field(
            {
            type          : "arrow-short",
            title        : "subscription text field",
            placeholder  : "Email",
            }
          )(class="form-elements__subscription")
      
      .form-elements__checkboxes
        +checkbox-list(
          {
            type    : "allowed"  

          }
        )(class="form-elements__allowed")
        +radio-list(
          {
            type    : "men-woman",
            title   : "Radio Buttons"
          }
        )(class="form-elements__sex")
        .form-elements__toggles
          h3.form-elements__toggles-title toggle
          +toggle(
            {
              text: "Получать спецпредложения",
              name: "tog1",
              value: true
            }
          )
          +toggle(
            {
              text: "Получать спецпредложения",
              name: "tog2",
              value: false
            }
          )
        .form-elements__like-buttons
          h3.form-elements__like-buttons-title like button 
          +like-button(
            { name      : "like1",
             value     : 2,
             checked   : false

            }
          )
          +like-button(
           { name      : "like1",
             value     : 12,
             checked   : true

            }
         )

        .form-elements__rate-buttons

          +rate-button(
            { 
              name      : "rate1",
              value     : 5,
              checked   : 4
            }
          )
          +rate-button(
            { 
              name      : "rate2",
              value     : 5,
              checked   : 5
            }
          )

      .form-elements__other 
        +range-slider({
              title            : "range slider",
              value            : "5 000₽ - 10 000₽"
          })(class="form-elements__price-slider")
        .form-elements__buttons
          h3.form-elements__buttons-title buttons
          +button(
            {
              type       : "fill",
              text       : "Click Me"
            }
          )(class="form-elements__button1")

          +button(     
            { 
              text       : "Click Me",
              buttonClass: "button--bordered"
            })(class="form-elements__button2")

          +button(     
            { 
              text       : "Click Me",
              buttonClass: "button--bordered-none"
            })(class="form-elements__button3")

          +button(     
            { 
              text       : "Перейти к оптате",
              symbol     : "arrow_forward",
              buttonClass: "button--filled button--width-full"
            })
        +pagination(  
          {
            paginationClass : "search-room__pagination", 
            title           : "",
                text            : "1 – 12 из 100+ вариантов аренды"
          }
        )

      .form-elements__section-expanded
        +drop-down(
          {
           type          : "rooms",
           title         : "Dropdown",
           titleText    : "Default"
          }
        )(class="form-elements__rooms")
        +checkbox-list(
        {
          title   : "expandable checkbox list",
          type    : "funiture",
          name    : "check-allowed",
        })
      +checkbox-list(
        {
          type         : "rich",
          title        : "Rich Checkbox Buttons",
          checkboxClass: "form-elements__chech-rich"
        }
      )
      +list({
        title        : "Bullet List",
        listItemClass: "list-item--is-bullet",
        items        : [
          {text      : "Нельзя с питомцами"},
          {text      : "Без вечеринок и мероприятий"},
          {text      : "Время прибытия — после 13:00, а выезд до 12:00"}
          ]
      })
      +extra-list({
        items        : [
          {
            title     : "Комфорт",
            text      : "Шумопоглощающие стены",
            symbol    : "insert_emoticon"
          },{
            title     : "Удобство",
            text      : "Окно в каждой из спален",
            symbol    : "location_city"
            }
            ]
          }
      )
      +feedback(
        {
          feedbackItems:  [
            {
            "user": "Мурад Сарафанов",
            "date": "5 дней назад",
            "userPic": "../../img/image.png",
            "likeValue": 12,
            "likeChecked": true,
            "feedbackText": "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
            }
          ]
        }
      )(class="form-elements__feedback")