header.header
  .wrapper
    .header__wrapper
      .logo
        img.logo__img(src="./assets/img/logo.svg", alt="Toxin")
      nav.menu
        ul.menu__list
          li.menu__item
            a.menu__link.menu__link--is-bold(href="#!") Home
          li.menu__item
            a.menu__link(href="#!") About Us
          li.menu__item
            a.menu__link(href="#!") Services
          li.menu__item
            a.menu__link(href="#!") Careers
          li.menu__item
            a.menu__link(href="#!") News
          li.menu__item
            a.menu__link(href="#!") Documentation
      a.button(href="#!") LOGIN
      a.button(href="#!") REGISTER
      


      

