@font-face {
     font-family: 'Quicksand';
     font-style: normal;
     font-weight: normal;
     src:           
     url('./../fonts/Quicksand-Regular.woff') format('woff'), /* Modern Browsers */
     url('./../fonts/Quicksand-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
     url('./../fonts/Quicksand-Regular.svg') format('svg'); /* Legacy iOS */
   }


  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    src:           
    url('./../fonts/Quicksand-Bold.woff') format('woff'), /* Modern Browsers */
    url('./../fonts/Quicksand-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./../fonts/Quicksand-Bold.svg') format('svg'); /* Legacy iOS */
  }
  @font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: bold;
     src:           
     url('./../fonts/Montserrat-Bold.woff') format('woff'), /* Modern Browsers */
     url('./../fonts/Montserrat-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
     url('./../fonts/Montserrat-Bold.svg') format('svg'); /* Legacy iOS */
   }


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src:           
    url('./../fonts/Montserrat-Regular.woff') format('woff'), /* Modern Browsers */
    url('./../fonts/Montserrat-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./../fonts/Montserrat-Regular.svg') format('svg'); /* Legacy iOS */
  }


  @font-face {
     font-family: 'Material Icons';
     font-style: normal;
     font-weight: normal;
     src:
          url('./../fonts/Material-Icons-Regular.woff') format('woff'), /* Modern Browsers */
          url('./../fonts/Material-Icons-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('./../fonts/Material-Icons-Regular.svg') format('svg'); /* Legacy iOS */
   }

   @font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    src:
         url('./../fonts/Font Awesome 5 Brands-Regular.woff') format('woff'), /* Modern Browsers */
         url('./../fonts/Font Awesome 5 Brands-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./../fonts/Font Awesome 5 Brands-Regular.svg') format('svg'); /* Legacy iOS */
  }
 
