

.block{
    margin: 50px 50px;
    padding: 40px 30px 30px 30px;
    width: 380px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.text-field{
    font-family: Montserrat; 
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    

    &__caption{

        height: 100%;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }
    
    &__section{
        display: flex;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px; 
        width: 100%;
        width: 100%;
        &:focus {
            border: 1px solid rgba(31, 32, 65, 0.5);
            color:rgba(31, 32, 65, 0.75);
        }
        &:hover  {
            border: 1px solid rgba(31, 32, 65, 0.5);
            }
    }

    &__input{
        display: flex;
        margin: 12px 15px;
        width: 100%;
        font-size: 14px;
        line-height: 18px;
        color-interpolation-filters: rgba(31, 32, 65, 0.25); 
        padding: 0;
    }

    &__checkbox-hidden{
        display: none;
    }
    
    &__checkbox{
        display: flex;
        margin: auto 10px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px; /* Preferred icon size */
        line-height: 20px;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        color: rgba(31, 32, 65, 0.75);
        align-items: center;
        text-align: center;
        vertical-align: middle; 
    }
    &__checkbox-hidden:checked + &__checkbox{
        color: rgba(31, 32, 65, 0.5);   
    }

}

.drop-down{
    font-family: Montserrat; 
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;

    &__menu{  
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 0 0 4px 4px;
        border-top-style: none; 
        padding-top: 7px;       
    }

    &__caption{

        height: 100%;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }
    
    &__section{
        display: flex;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px 4px 0 0 ; 
        width: 100%;
    }

    &__input{
        display: flex;
        margin: 13px 15px;
        width: 100%

    }

    &__checkbox-hidden{
        display: none;
    }
    
    &__checkbox{
        display: flex;
        margin: auto 10px;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px; /* Preferred icon size */
        line-height: 20px;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        color: rgba(31, 32, 65, 0.75);
        align-items: center;
        text-align: center;
        vertical-align: middle; 
    }
    &__checkbox-hidden:checked + &__checkbox{
        color: rgba(31, 32, 65, 0.5);   
    }



    &__item{
        margin-bottom: 7px;
        font-weight: bold;
        display: flex;
        
    }

    &__item-text{
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        margin: auto auto auto 15px;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color:#1F2041;
        vertical-align: middle;
        text-transform: uppercase;
    }

    &__item-group{
        display: flex;
        margin: auto 7px auto auto;
        width: 95px;
    }
    &__item-input{
        font-family: Montserrat;
        text-align: center;        
        width: 32px;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
    }
    &__item-button-dec, &__item-button-inc{
        font-style: normal;
        font-weight: normal;
        width: 30px;
        height: 30px;
        border-radius: 22px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        background: white;
        color: rgba(31, 32, 65, 0.5);
    }
    &__menu-footer {
        margin: 19px 7px 13px 14px;
    }
    &__menu-footer-items{
      display: flex;
      justify-content: space-between;
    }
    &__menu-footer-item{
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #BC9CFF;
        font-weight: bold;
    }
    &__menu-footer-item:first-child{
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: rgba(31, 32, 65, 0.5);
        font-weight: bold;
    }



}

.checkbox-list{
    font-family: Montserrat; 
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    
    &__input{
        display: block;
        
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0;
        margin: auto 30px auto 0;
    
    }
    &__input::placeholder{
        color: #1F2041;
    }

 
    &__section{
        height: 44px;
        display: flex;
        width: 100%;
        
    }
    
    &__checkbox-hidden{
        display: none;
    }
   

    &__checkbox{
        margin: auto 0 ;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px; /* Preferred icon size */
        line-height: 44px;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        color: rgba(31, 32, 65, 0.5);
        align-items: center;
        vertical-align: middle; 
    }
    &__checkbox-hidden:checked + &__checkbox{
        color: rgba(31, 32, 65, 0.5);  
        transform: rotate(-180deg); 
    }

    &__item{
        
        display: flex;
        margin-bottom: 10px;
    }

    &__item-checkbox-hidden{
        display:none;
    }
    &__item-checkbox{
        display:block;
        width: 20px;
        height: 20px;
        border:1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        margin-right: 10px;
    }
    &__item-checkbox-hidden:checked + &__item-checkbox{
        
        border-color: #BC9CFF;
    
        background: url(/assets/img/vector.svg) no-repeat 4px 2px;
           
    }
    &__item-text{
        width: 200px;
        font-size: 14px;
        line-height: 18px;
        font-weight: normal;
        color: rgba(31, 32, 65, 0.5);
        vertical-align: middle;

    }



}

.rich-checkbox-list{
    font-family: Montserrat; 
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    
    &__input{
        display: block;
        
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0;
        margin: auto 30px auto 0;
    
    }
    &__input::placeholder{
        color: #1F2041;
    }

 
    &__section{
        width: 230px;
        
    }
    
    &__checkbox-hidden{
        display: none;
    }
   

    &__checkbox{
        margin: auto 0 ;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px; /* Preferred icon size */
        line-height: 44px;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        color: rgba(31, 32, 65, 0.5);
        align-items: center;
        vertical-align: middle; 
    }
    &__checkbox-hidden:checked + &__checkbox{
        color: rgba(31, 32, 65, 0.5);  
        transform: rotate(-180deg); 
    }

    &__item{
        display: flex;
        margin-bottom: 10px;
    }

    &__item-checkbox-hidden{
        display:none;
    }
    &__item-checkbox{
        display:block;
        width: 20px;
        height: 20px;
        border:1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        margin-right: 10px;
    }
    &__item-checkbox-hidden:checked + &__item-checkbox{
        
        border-color: #BC9CFF;
    
        background: url(/assets/img/vector.svg) no-repeat 4px 2px;
           
    }
    &__item-text{
        display:block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;    
        font-weight: 600;
        color: rgba(31, 32, 65, 0.75);
        vertical-align: middle;

    }

    &__item-desc{
        display:block;

        font-size: 12px;
        line-height: 14px;
        font-style: normal;
        font-weight: normal;
        color: rgba(31, 32, 65, 0.5);
        vertical-align: middle;

    }



}


.extra-list{
    display: block;
    &__item{
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        padding: 20px 0;
    }
    &__item-pic{
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        float: left;
        margin-right: 10px;
    }
    &__item-symbol{
        
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 48px;
        line-height: 41px;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        
        align-items: center;
        vertical-align: middle; 

        mix-blend-mode: screen;
        background: white;
    }
    &__item-box{
        margin-left: 100px;
        width: 100%;
    }
    &__item-text{
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
    }
    &__item-desc{
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
    }

}

.radio-list{
    margin-top: 16px;
    //Claarfix
    &::after {
        content: "";
        display: table;
        clear: both;
      }
    
    &__item{
        float: left;
        margin-right: 20px;
    }
    
    &__item-label{
        
    }  

    &__item-input{
        
        position: absolute;
        z-index: -1;
        opacity: 0;
  
        
        
    }
    &__item-text{
        color: rgba(31, 32, 65, 0.75);
        position: relative;
        padding: 0 0 0 30px;
        cursor: pointer;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.5);
    }
    &__item-text:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0px;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        
        border-radius: 10px;
        background: #FFF;
    }
    &__item-text:after {
        content: '';
        position: absolute;
        top:6px;
        left: 4px;
        width: 12px;
        height: 12px;
        border-radius: 10px;
        
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        opacity: 0;
        transition: .2s;
    }
    &__item-input:checked + &__item-text:after {
        opacity: 1;
        border-color:rgba(31, 32, 65, 0.25);
    }

    &__item-input:checked + &__item-text {
        color: rgba(31, 32, 65, 0.75);
        
    }
    
    &__item-input:checked + &__item-text:before {
        border: 1px solid #BC9CFF;
    }

}

.toggle{
    margin-top: 16px;
    &::after {
        content: "";
        display: table;
        clear: both;
      }
    &__item-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 20px;
    }
    &__item-text {
        position: relative;
        padding: 0 0 0 50px;
        cursor: pointer;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
    &__item-text:before {
        content: '';
        position: absolute;
        top:  2px;
        left: 0;
        width: 40px;
        height: 20px;
        border-radius: 10px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        transition: .2s;
    }
    &__item-text:after {
        content: '';
        position: absolute;
        top: 6px;
        left: 4px;
        width: 12px;
        height: 12px;
        border-radius: 10px;
        background: rgba(31, 32, 65, 0.25);
        transition: .2s;
    }
    &__item-input:checked + &__item-text:before {
        
        border-color: #BC9CFF;
    }
    &__item-input:checked + &__item-text:after {
        left: 24px;
        
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);   
    }

    

    

}

.like-button{
    display: inline-block;
    margin: 16px 10px 0 0; 
    width: 40px;
    height: 20px;
    &__item-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        
    }
    &__item-text {
        padding: 3px 0 0 10px ;
        text-align: center;
        position: relative;
        cursor: pointer;
        font-size: 10px;
        line-height: 12px;
        color: rgba(31, 32, 65, 0.25);
        //Material
  




    }
    &__item-text:before {
        text-align: left;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 10px;
        line-height: 9px;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        font-size: 10px;
        line-height: 9px;
        content: '';
        position: absolute;
        top:  0;
        left: 0;
        width: 40px;
        height: 20px;
        border-radius: 10px;
        border: 1px solid rgba(31, 32, 65, 0.25);
       
    }
    &__item-text:after {
        text-align: left;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 10px;
        line-height: 9px;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        font-size: 10px;
        line-height: 9px;
        content: 'favorite_border';
        position: absolute;
        left: 5px;
        top: 5px; 
        width: 40px;
        height: 20px;
    }


    &__item-input:checked + &__item-text:before {
        content: '';
        position: absolute;
        top: 0px; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -1px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }


    &__item-input:checked + &__item-text{

        //width: 50vw;
        width: 40px;
        height: 20px;
        padding: 2px 0 0 10px ; 
        position: relative;
      
        box-sizing: border-box;
      
        $border: 1px;
        color: #BC9CFF;
        background: #fff;
        background-clip: padding-box; /* !importanté */
        border: solid $border transparent; /* !importanté */
        border-radius: 10px;
    }
    &__item-input:checked +&__item-text:after {
        font-size: 10px;
        line-height: 9px;
        left: 4px;
        top: 4px; 
        content: 'favorite';
        color: #BC9CFF;
        width: 40px;
        height: 20px;
    }
    

}

.rate {
    display: flex;
    justify-content: left;
}

.rate-button {
    display: flex;
    justify-content: left;
    margin: 16px 20px 16px 0;
    &__items{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: top;
        flex: 0 0 auto;
        color: blue;
        background: linear-gradient(180deg, #BC9CFF , #8BA4F9  );
    }

    &__item-input{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        border: 0;
        clip: rect(0,0,0,0);
    }
    &__item-label{ 
        display: flex;
        position: relative;
        cursor: pointer;
      }
    &__item-label:before{ 
        content:'star';     
        font-family: 'Material Icons';
        font-size: 24px;
        line-height: 20px;
        
        mix-blend-mode: screen;
        background: white;
      }
    


      &__item-input:checked ~ div &__item-label:before {
        content:'star_border';    
        font-size: 24px;
        line-height: 20px;
        
        mix-blend-mode: screen;
        background: white; 
    
      }     

      &__item-input:checked + div &__item-label:before {
        content:'star';  
        font-size: 24px;
        line-height: 20px;
        color: blue;
     
       }  

    }

.ui-slider {
    position: relative;

    }

.ui-slider .ui-slider-handle {
    //Стилизация ползунка
    width: 12px;
    height: 12px;
    position: absolute;
	z-index: 2;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    
    border-radius: 10px;
    cursor: pointer;
    
}

.ui-slider .ui-slider-handle:after {
    //Стилизация ползунка
    left: -1px;
    top: -1px;
    position: absolute;
    width: 12px;
    height: 12px;
    content: '';
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}       
/* оформление полосы по которой ходит ползунок */
.ui-widget-content { 
    background: #FFFFFF;
    /* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    z-index: 1;
    border-radius: 3px;
}   

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
    height: 6px; /* задаем высоту согласно дизайна */
}
//Задаем положение ползунков
.ui-slider-horizontal .ui-slider-handle { 
	top: -4px;
	margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

/* оформление активного участка (между двумя ползунками) */
.ui-widget-header { 
    border-radius: 3px;
    height: 6px;
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

}
    
.ui-slider .ui-slider-range {
	position: absolute;
    top: -1px;
    z-index: 1;
    height: 6px;
	display: block;
	border: 0;
	overflow: hidden;
}

.range-slider{
    margin: 20px 0 40px 0;
      
    &__header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
        
    &__header-text{
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
        text-transform: uppercase;
        color: #1F2041;
    }
    &__header-value{
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: rgba(31, 32, 65, 0.5);
        font-weight: bold;
    }
}

.button{
    margin: 30px 20px 30px 0; 
    padding: 13px 19px 14px 19px;

    position: relative;
    border-radius: 22px;
    
    &__text{
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;   
        text-transform: uppercase;
        vertical-align: middle;
        
    }

    &__symbol {
        top: 0;
        right:0;  
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 42px;
        width: 42px;
        position: absolute;


    }

    &.button--fill {
         
         background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
         color: #FFFFFF;
    }
    &.button--border {
        position: relative;
        $border: 2px;
        color: #BC9CFF;
        background: #fff;
        background-clip: padding-box; /* !importanté */
        border: solid $border transparent; /* !importanté */   
        
    }

   &.button--border::before {
        content: '';
        position: absolute;
        top: 0px; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -2px; /* !importanté */
        border-radius: inherit; /* !importanté */
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        
    }

   &.button--border-none{
    border: none;
    padding: 0;  
    color: #BC9CFF;
    background: #fff;
    }
    &.button--disabled{
        filter: opacity(0.7);
    }
    &.button--disabled:before{
        filter: opacity(0.7);
        
        
    }
    &.button--border.button--disabled{
        filter: none;
        position: relative;
        $border: 2px;
        color: #BC9CFF;
        background: #fff;
        background-clip: padding-box; /* !importanté */
        border: solid $border transparent; /* !importanté */
    }

    &.button--symbol{
        width: 100%;
    }   

}

.pagination-block{
    margin-bottom: 10px;
    &__item{
        display: inline-block;
        font-size: 12px;
    }

    &__text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }

    .page-item:last-child .page-link{
        border-radius: 22px ;
    }



    & li.first, & li.prev{
        display: none;
    }
    
    & li.next{
        float: right;
        font-family: Material Icons;
        font-size: 24px;
        line-height: 20px;
        
    }
    & .next .page-link{
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        color: #fff;
        z-index: 1;
    }
    
    & li {
        display: inline-block;
    }
    & .page-link {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 22px;
        text-align: center;
        line-height: 30px;
        color: rgba(31, 32, 65, 0.5);
    }
    & .active .page-link {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        color: #fff;
    }

}

.bullet-list{
    &__text{
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
        margin-bottom: 20px;
    }

    &__item{
        margin-bottom: 10px;
    }

    &__item-text{
       margin-left: 20px;
    position: relative;
    
    }

    &__item-text:before{
        content: '';
        position: absolute;
        left: - 20px;
        top: 7px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background: rgba(31, 32, 65, 0.25);
        

    
    }


}