mixin list-item(data)
    .list-item(class=data.classItem)
      if (data.symbol)
        .list-item__pic= item.symbol
      else
        div(class="list-item__pic" style="background-image: url("+ data.urlPic+")")
      .list-item__text
          if (data.title)
            #{"strong"}=data.title
            #{"br"}= data.text
          else
            = data.text

