block variables
  - var title = "Headers & Footers";
  - var author = "enlore";
  - var theGreat = "<span>escape!</span>";
block header
block content
  include ../../blocks/header/header
  include ../../blocks/footer/footer
  .headers-footers
    +header(
      { headerClass        : "headers-footers__header",
        buttonLoginText    : "Login",
        buttonRegisterText : "Register",
        userName           : "Cosmin Negoita",
        navItems: [
           {text      : "<strong>Home</strong>",
            symbol    : ""
           },
           {text      : "About Us",
            symbol    : ""
           },
           {text      : "Services",
            symbol    : "expand_more",
            hasSubmenu: true
           },
           {text      : "Careers",
            symbol    : ""
           },
           {text      : "News",
            symbol    : ""
           },
           {text      : "Documentation",
            symbol    : ""
           }
         ]
      }
    )
    +header(
      { headerClass    : "headers-footers__header header--logined",
        buttonLoginText    : "Login",
        buttonRegisterText : "Register",
        userName           : "Cosmin Negoita",
        navItems: [
           {text      : "<strong>Home</strong>",
            symbol    : ""
           },
           {text      : "About Us",
            symbol    : ""
           },
           {text      : "Services",
            symbol    : "expand_more",
            hasSubmenu: true
           },
           {text      : "Careers",
            symbol    : ""
           },
           {text      : "News",
            symbol    : ""
           },
           {text      : "Documentation",
            symbol    : ""
           }
         ]
      }
    )
    +footer({
      footerText      : "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.",
      navItems        : [
         {navTitle    : "Navigation",
          navSubitems : [
              {title   : "About Us"},
              {title   : "News"},
              {title   : "Support"},
              {title   : "Products"}
          ]
         },
         {navTitle    : "ABOUT US",
          navSubitems : [
              {title   : "Who we are"},
              {title   : "Our team"},
              {title   : "Careers"},
              {title   : "Investors"}
          ]
         },
         {navTitle    : "Support",
          navSubitems : [
              {title   : "Documentation"},
              {title   : "Community"},
              {title   : "Get in Touch"}
          ]
         }
      ],
      subscribeTitle       : "Subscribe to our newsletter",
      subscribeText        : "Receive our latest news and promotions in your inbox!",
      subscribePlaceholder : "Your email address",
      copyrightText        : "Copyright © 2018 Toxin UI Kit. All rights reserved."
  })

    +footer({
      footerClass       : "footer--theme-light",
      footerText      : "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.",
      navItems        : [
         {navTitle    : "Navigation",
          navSubitems : [
              {title   : "About Us"},
              {title   : "News"},
              {title   : "Support"},
              {title   : "Products"}
          ]
         },
         {navTitle    : "ABOUT US",
          navSubitems : [
              {title   : "Who we are"},
              {title   : "Our team"},
              {title   : "Careers"},
              {title   : "Investors"}
          ]
         },
         {navTitle    : "Support",
          navSubitems : [
              {title   : "Documentation"},
              {title   : "Community"},
              {title   : "Get in Touch"}
          ]
         }
      ],
      subscribeTitle       : "Subscribe to our newsletter",
      subscribeText        : "Receive our latest news and promotions in your inbox!",
      subscribePlaceholder : "Your email address",
      copyrightText        : "Copyright © 2018 Toxin UI Kit. All rights reserved."
  })