@import "../../blocks/list-item/list-item";
@import "../../blocks/like-button/like-button";

.feedback {
  &__title {
    @extend %h2;
    margin-bottom: 20px;
  }
  &__box {
    margin-top: 12px;
    display: flex;
  }
  &__like-button {
    margin: 0 18px 0 0;
  }
  &__text {
    width: 653px;
  }
}
