.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: $white;
  height: 340px;

  &__logo {
    margin-top: -5px;
  }

  &__nav {
    padding: 106px 140px 80px 140px;
    display: grid;
    grid-template-columns: 300px 200px 200px 200px 260px;
    padding-left: -1px;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  }

  &__nav-item {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__nav-item-title {
    @extend %h3;
    margin-bottom: 21px;
    letter-spacing: -0.3px;
  }

  &__subitem {
    list-style: none;
    line-height: 1.0625rem;
    color: $dark-shade-50;
    margin-bottom: 21px;
    letter-spacing: -0.15px;
  }
  &__subitem-text {
    line-height: 1.5rem;
    color: $dark-shade-100;
    padding-right: 0px;
    margin-right: 10px;
    margin-top: -2px;
    letter-spacing: -0.15px;
  }

  &__copyright {
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    padding: 25px 140px 21px 140px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright-text {
    letter-spacing: -0.1;
  }

  &.footer--theme-toxin &__nav {
    padding: 106px 140px 77px 140px;
  }

  &.footer--theme-toxin &__subitem-text {
    margin-top: -5px;
  }

  &.footer--theme-light &__nav-item:not(:first-child) {
    display: none;
  }

  &.footer--theme-light &__nav {
    display: grid;
    grid-template-columns: 580px;
    justify-content: center;

    padding-left: -1px;
  }

  &.footer--theme-light &__nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &.footer--theme-light &__subitem-text {
    letter-spacing: 0.05px;
  }

  &.footer--theme-light &__logo {
    margin-right: 36px;
  }

  &.footer--theme-light &__copyright {
    justify-content: center;
  }

  &.footer--theme-light &__copyright-text {
    display: none;
  }

  &.footer--theme-light {
    height: 367px;
    justify-content: flex-start;
  }
}
