.card {
  max-width: 500px;
  padding: 40px 29px 30px 29px;
  background: $default-color;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__title {
    width: 100%;
    margin: 0 0 20px 0;
    letter-spacing: -0.625px;
    font-family: "Montserrat";
  }

  &--theme-cards {
    width: 320px;
    padding: 0;
  }

  &.card--padding-null {
    padding: 0;
  }
}
