doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block head
  body(class="page")
  
    block header

    block content
    a.link(href="colors-and-types.html") 
      h2 Colors and types

    a.link(href="form-elements.html") 
      h2 Form Elements

    a.link(href="cards.html") 
      h2 Cards

    a.link(href="headers-footers.html") 
      h2 Headers and Footers 
  
    a.link(href="landing-page.html") 
      h2 Landing Page

    a.link(href="search-room.html") 
      h2 Search Room

    a.link(href="room-details.html") 
      h2 Room Details

    a.link(href="login-page.html") 
      h2 Registration

    a.link(href="sign-in-page.html") 
      h2 Sign in



    block footer    


    block script

  
block footer