.checkbox-list {
  &__section {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    line-height: 0.9375rem;
    margin: 0 10px 14px 0;
  }

  &__button {
    @extend %material-icons;
    max-width: 2.75rem;
    line-height: 0.9375rem;
    margin-bottom: 14px;
    display: flex;
    margin-right: 10px;
    cursor: pointer;
  }

  &__items {
    display: none;
    margin-top: 0px;
    list-style-type: none;
    padding: 2px 0 0 0px;
  }
  &__item {
    display: flex;
    margin: 0 0 10px 0;
  }
  &__item-checkbox-hidden {
    display: none;
  }
  &__item-checkbox {
    display: block;
    min-width: 20px;
    height: 20px;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    margin-right: 10px;
    box-sizing: border-box;
  }
  &__item-checkbox-hidden:checked + &__item-checkbox {
    border-color: $purple;
    background: url('/img/vector.svg') no-repeat 4px 3px;
  }

  &__item-title {
    font-weight: bold;
    line-height: 1.25rem;
    vertical-align: middle;
    margin-bottom: 2px;
  }

  &__item-text {
    line-height: 1.12rem;
    color: $dark-shade-50;
    vertical-align: middle;
  }

  &--menu-visible &__button {
    color: $dark-shade-50;
    transform: rotate(-180deg);
  }

  &--menu-visible &__button {
    color: $dark-shade-50;
    transform: rotate(-180deg);
  }

  &--menu-visible &__items {
    display: block;
  }

  &--theme-rich &__item {
    margin-bottom: 9px;
  }

  &--theme-rich &__item-text {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
