.checkbox-list{
    &__title{
        line-height: 0.9375rem;
        margin: 0 30px 14px 0;
        //float: left;
        
    }


    &__button{
        @extend %material-icons;
        max-width: 2.75rem;
        height: 2.75rem;
        display: flex;
        justify-content: center;
    }


    &__items{
        display: none;
        margin-top: 0px;
        list-style-type: none;
        padding: 2px 0 0 0px;
    }
    &__item{
        display: flex;
        margin: 0 0 11px 0;
    }
    &__item-checkbox-hidden{
        display:none;
    }
    &__item-checkbox{
        display:block;
        width: 20px;
        height: 20px;
        border:1px solid $dark-shade-25;
        border-radius: 4px;
        margin-right: 10px;
        box-sizing: border-box;
    }
    &__item-checkbox-hidden:checked + &__item-checkbox{
        border-color: $purple;
        background: url(/img/vector.svg) no-repeat 4px 2px;   
    }

    &__item-title{
        font-weight: bold;
        line-height: 1.25rem;
        vertical-align: middle;
        margin-bottom: 2px;

    }

    &__item-text{
        line-height: 1.12rem;
        color: $dark-shade-50;
        vertical-align: middle;
        width: 200px;
    }



    &--menu-visible &__button{
        color: $dark-shade-50;  
        transform: rotate(-180deg); 

    }

    &--menu-visible &__button{
        color: $dark-shade-50;  
        transform: rotate(-180deg); 

    }

    &--menu-visible &__items{
        display: block;

    }
}
