block variables
  - var title = "Form Elements";
  - var author = "enlore";
  - var theGreat = "<span>escape!</span>";
block header
block content
  include ../../blocks/card/card
  include ../../blocks/text-field/text-field
  include ../../blocks/drop-down/drop-down
  include ../../blocks/button/button
  include ../../blocks/radio-list/radio-list
  include ../../blocks/toggle/toggle
  include ../../blocks/room-info/room-info
  include ../../blocks/slider/slider
  include ../../blocks/room/room
  include ../../blocks/calendar/calendar
  .cards
    +card({
        title    : "Найдём номера под ваши пожелания",
        cardClass: "card-find-number"
    })
        +drop-down(
          {title         : "Прибытие",
           titleText     : "",
           placeholder   : "ДД.ММ.ГГГГ",
           inputText     : "",
           readOnly      : true,
           buttonText    : "",
           textFieldClass: "text-field--placeholder-dark-75 text-field--menu-visible",
           items         : [],
           addCalendar   : true,    
           menuButtons   : [
             {text       : "Очистить",
              name       : "clear",
             },
             {text       : "Применить",
              name       : "apply",
             },

           ],
           dropDownClass: "card-find-number__drop-down-date-in"
           }
        )
        +drop-down(
          {title         : "Выезд",
           titleText     : "",
           placeholder   : "ДД.ММ.ГГГГ",
           inputText     : "",
           readOnly      : true,
           buttonText    : "",
           textFieldClass: "text-field--placeholder-dark-75 text-field--menu-visible",
           items         : [],
           addCalendar   : true,    
           menuButtons   : [
             {text       : "Очистить",
              name       : "clear",
             },
             {text       : "Применить",
              name       : "apply",
             },

           ],
           dropDownClass: "card-find-number__drop-down-date-out"
           }

        )
        +drop-down(
          {title         : "Гости",
           titleText     : "",
           placeholder   : "Сколько гостей",
           inputText     : "",
           readOnly      : true,
           buttonText    : "",
           textFieldClass: "text-field--placeholder-dark-75 text-field--menu-visible",
           items        : [
             {text      : "Взрослые",
              value     : 0
             },
             {text      : "Дети",
              value     : 0
             },
             {text      : "Младенцы",
              value     : 0
             }
           ],
           menuButtons  : [
             {text      : "Очистить",
              name      : "clear",
             },
             {text      : "Применить",
              name      : "apply",
             },

           ],
           dropDownClass: "card-find-number__drop-down-guests"
           }
        )
        +button(     
        { name       : "btn7",
          text       : "Подобрать номер",
          symbol     : "arrow_forward",
          buttonClass: "card-find-number__button-submit button--fill button--width-full"
        })
    +card({
        title    : "Регистрация аккаунта",
        cardClass: "card-register"
    })
      +text-field(
          {title         : "",
           titleText     : "",
           placeholder   : "Имя",
           inputText     : "",
           readOnly      : false,
           buttonText    : "",
           textFieldClass: "card-register__name"
           }
        )
      +text-field(
          {title         : "",
           titleText     : "",
           placeholder   : "Фамилия",
           inputText     : "",
           readOnly      : false,
           buttonText    : "",
           textFieldClass: "card-register__surname"
           }
        )
      +radio-list(
        { title         : "", 
          items         : [
          {title        : "Мужчина",
           value        : true
          },
          {title        : "Женщина",
           value        : false
          }
        ],
          radioListClass: "card-register__sex"
        }
        )

      +text-field(
          {title         : "Дата рождения",
           titleText     : "",
           placeholder   : "ДД.ММ.ГГГГ",
           inputText     : "",
           readOnly      : false,
           buttonText    : "",
           textFieldClass: "card-register__birthday"
           }
        )
      +text-field(
          {title         : "Данные для входа в сервис",
           titleText     : "",
           placeholder   : "Email",
           inputText     : "",
           readOnly      : false,
           buttonText    : "",
           textFieldClass: "card-register__email"
           }
        )
      +text-field(
          {title         : "",
           titleText     : "",
           placeholder   : "Пароль",
           inputText     : "",
           readOnly      : false,
           buttonText    : "",
           textFieldClass: "card-register__password"
           }
        )
      +toggle(
        { title      : "", 
          text       : "Получать спецпредложения",
          name       : "tog1",
          toggleClass: "card-register__offer",
          checked      : false  
        }
      )
      +button(     
        { name       : "btn7",
          text       : "Перейти к оплате",
          symbol     : "arrow_forward",
          buttonClass: "card-register__button-pay button--fill button--width-full"
        })
      .card-register__text-account Уже есть аккаунт на Toxin
      +button(     
        { name       : "btn9",
          text       : "войти",
          symbol     : "",
          buttonClass: "card-register__button-enter button--border"
        })           
    +card({
        title    : "",
        cardClass: "card-booking"
    })

      +room-info(
          {roomNumber   : "888",
           roomType     : "люкс",
           roomPrice    : "9 990",
           roomInfoClass: "card-booking__room-info"
          }
      )

      +drop-down(
          {title         : "Прибытие",
           titleText     : "",
           placeholder   : "ДД.ММ.ГГГГ",
           inputText     : "19.08.2019",
           readOnly      : true,
           buttonText    : "",
           textFieldClass: "text-field--placeholder-dark-75",
           items         : [],
           addCalendar   : true,    
           menuButtons   : [
             {text       : "Очистить",
              name       : "clear",
             },
             {text       : "Применить",
              name       : "apply",
             },

           ],
           dropDownClass: "card-booking__drop-down-date-in"
           }
        )
      +drop-down(
          {title         : "Выезд",
           titleText     : "",
           placeholder   : "23.08.2019",
           inputText     : "",
           readOnly      : true,
           buttonText    : "",
           textFieldClass: "text-field--placeholder-dark-75",
           items         : [],
           addCalendar   : true,    
           menuButtons   : [
             {text       : "Очистить",
              name       : "clear",
             },
             {text       : "Применить",
              name       : "apply",
             },

           ],
           dropDownClass: "card-booking__drop-down-date-out"
           }

      )
      +drop-down(
          {title         : "Гости",
           titleText     : "",
           placeholder   : "Сколько гостей",
           inputText     : "3 гостя",
           readOnly      : true,
           buttonText    : "",
           textFieldClass: "text-field--placeholder-dark-75",
           items        : [
             {text      : "Взрослые",
              value     : 0
             },
             {text      : "Дети",
              value     : 0
             },
             {text      : "Младенцы",
              value     : 0
             }
           ],
           menuButtons  : [
             {text      : "Очистить",
              name      : "clear",
             },
             {text      : "Применить",
              name      : "apply",
             },

           ],
           dropDownClass: "card-booking__guests"
           }
        )

      mixin calc-box(data)
        ul.card-booking__calc-items
          each item in data.items
            li.card-booking__calc-item
              .card-booking__calc-item-text= item.text
              if item.hint
                .card-booking__calc-item-hint i
              .card-booking__calc-item-value= item.value
        .card-booking__total
          .card-booking__total-text= data.totalText
          .card-booking__total-line
          .card-booking__total-value= data.totalValue

      +calc-box({
         items  :[
          {text : "9 990₽ х 4 суток", 
           hint : "",
           value: "39 960₽"
           },
          {text : "Сбор за услуги: скидка 2 179₽", 
           hint : "hint",
           value: "0₽"
           },
          {text : "Сбор за дополнительные услуги", 
           hint : "hint",
           value: "300₽"
         }],
           totalText : "Итого",
           totalValue: "38 081₽" 

      })   
      +button(     
        { name       : "btn9",
          text       : "забронировать",
          symbol     : "arrow_forward",
          buttonClass: "card-booking__button-book button--fill button--width-full"
        })       
    +card({
        title    : "Войти",
        cardClass: "card-login"
    })
      +text-field(
          {title         : "",
           titleText     : "",
           placeholder   : "Email",
           inputText     : "",
           readOnly      : false,
           buttonText    : "",
           textFieldClass: "card-login__email"
           }
        )
      +text-field(
          {title         : "",
           titleText     : "",
           placeholder   : "Пароль",
           inputText     : "",
           readOnly      : false,
           buttonText    : "",
           textFieldClass: "card-login__password"
           }
        )
      +button(     
        { name       : "btn7",
          text       : "Войти",
          symbol     : "arrow_forward",
          buttonClass: "card-login__button-login button--fill button--width-full"
        })
      .card-register__text-account Нет аккаунта на Toxin?
      +button(     
        { name       : "btn9",
          text       : "создать",
          symbol     : "",
          buttonClass: "card-login__button-register button--border button--width-normal"
        }) 


    +calendar({ 
      calendarClass: "cards__calendar"
    })

    +room(
        { roomNumber  : "880",
          roomType    : "люкс",
          roomPrice   : "9 990",
          rateCount   : 145,
          imageItems: [
             {imagePath      : "./assets/img/img1.jpg"
             },
             {imagePath      : "./assets/img/img2.jpg"
             },
             {imagePath      : "./assets/img/img2.jpg"
             },
             {imagePath      : "./assets/img/img4.jpg"
             }

           ]
        }
      )
     