.sign-in-page {
  box-sizing: border-box;

  background-image: url(../../img/login-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -70px;
  display: grid;
  grid-template-columns: minmax(320px, 320px);
  justify-content: center;
  padding: 163px 0 163px 0;

  @media (max-width: 2000px) {
    grid-template-columns: minmax(380px, 500px);
    justify-content: center;
  }

  @media (max-width: 1480px) {
    grid-template-columns: minmax(320px, 380px);
  }
}
