//@import "../../blocks/card-login/card-login";
.sign-in-page{

    background-image: url(../../img/login-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -70px;
    display: grid;
    grid-template-columns: minmax(320px,380px);
    justify-content: center;
    padding: 163px 0 163px 0;

    @media (max-width: 2000px) {
        grid-template-columns: minmax(380px,500px) ;
        justify-content: center;

   
    }


    @media (max-width: 1440px) {
        grid-template-columns: minmax(320px,380px);
   
    }

}