mixin logo(data)
  .logo(class=data.logoClass)
    if (data.type === "full")
      img.logo__img(src="./img/logo-full.svg", alt="Toxin")
    else
      img.logo__img(src="./img/logo.svg", alt="Toxin")
