@import '../../blocks/text-field/text-field';
@import '../../blocks/card/card';
@import '../../blocks/button/button';
.card-login {
  &__email {
    margin-bottom: 10px;
  }

  &__pass {
    margin-bottom: 20px;
  }

  &__email {
    margin-bottom: 10px;
  }

  &__button-enter {
    margin-bottom: 30px;
  }

  &__text-account {
    margin: auto 0;
    line-height: 18px;
  }
}
