extends ../index.pug
block variables
  - var title = "Headers&Footers";
  - var author = "enlore";
  - var theGreat = "<span>escape!</span>";
block header
  include ../../blocks/header/header
  include ../../blocks/footer/footer
  include ../../blocks/logo/logo 

block content
  .headers-footers
    +logo({
      logoClass: "headers-footers__logo",
    })
    +header("demo")
    +header("demo2")
    +footer('demo')

block footer