.pie-chart {
  &_legend-item {
    column-gap: 5px;
    display: grid;
    grid-template-columns: 10px 1fr;
    line-height: 1.25rem;
    padding-top: 4px;
  }

  &__total {
    align-content: center;
    bottom: 0;
    display: grid;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1;
  }

  &__total-num {
    margin-top: -4px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    text-transform: uppercase;

    color: #bc9cff;
  }

  &__total-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

    color: #bc9cff;
  }

  &__total-line {
    color: red;
  }

  &__legend {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  &__header {
    margin-top: 0;
    padding-bottom: 5px;
  }

  &__diagram {
    position: relative;
    width: 120px;
    height: 120px;
  }

  &__chart {
    align-items: end;
    column-gap: 30px;
    display: grid;
    grid-template-columns: 120px 1fr;
  }
}
