.room-info{
    width: 100%;
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
 
    &__number{ 
        margin: 0;
    }
    &__type{
       @extend %h3;
       color: $purple;
    
    }
    &__price{
        margin-left: auto;
        color: $dark-shade-75;
    }
}