mixin room-info(data)
    .room-info&attributes(attributes)
      h1.room-info__number!= data.roomNumber
      .room-info__type= data.roomType
      if(data.roomPrice)
        .room-info__price 
          #{"strong"}!= data.roomPrice + "₽" 
          #{"small "}  в сутки