.twbs-pagination{
    display: inline-block;
    .page-item:last-child .page-link{
        border-radius: 22px ;
    }



    & li.first, & li.prev{
        display: none;
    }


    & .next .page-link{
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        color: #fff;
        z-index: 1;
    }

    & li {
        display: inline-block;
    }
    & .page-link {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 22px;
        text-align: center;
        line-height: 40px;
        color: $dark-shade-50;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        padding: 0;
      
        //@extend %h3;
    }
    & .active .page-link {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        color: #fff;
    }


    
    & .page-item.next .page-link{
        @extend %material-icons;
        font-size: 24px;
        //line-height: 40px;
        //text-align: center;
        justify-content: space-around;
    }
    & .page-item.next{
        float: right;
        
    }
    



}