@import "../../blocks/card-register/card-register";
.login-page{

    background-image: url(../../assets/img/login-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    display: grid;
    grid-template-columns: minmax(320px,380px);
    justify-content: center;
    padding: 30px 0 26px 0;

    &__card-register{


   
    }
}