@import "../../blocks/calendar/calendar";

.drop-down {
  width: 100%;
  position: relative;
  &__menu {
    display: none;
    border: 1px solid $dark-shade-25;
    border-radius: 0 0 4px 4px;
    border-top-style: none;
    padding: 7px 7px 13px 15px;
    background: white;
    z-index: 2;
  }

  &__items {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  &__item-text {
    @extend %h3;
    align-self: center;
  }

  &__item-group {
    width: 95px;
    display: flex;
  }

  &__item-input {
    @extend %h3;
    outline: none;
    border: none;
    text-align: center;
    width: 35px;
    color: black;
  }



  &__item-button {
    font-size: 18px;
    line-height: 1.375rem;
    width: 30px;
    height: 30px;
    border-radius: 22px;
    border: 1px solid $dark-shade-25;
    background: white;
    color: $dark-shade-50;
    outline-style: none;
  }

  &__menu-buttons {
    display: flex;
    justify-content: space-between;
  }

  &__menu-button {
    border: none;
    background: #ffffff;
    @extend %h3;
    color: $purple;
  }
  &__menu-button:first-child {
    color: $dark-shade-50;
  }

  &--width-s {
    width: 83.125%;
  }

  &--width-flex-two-on-line {
    width: 46.875%;
  }

  &.drop-down--menu-visible &__menu {
    display: block;
    position: absolute;
    width: 100%;
  }

  &__item-button--hidden {
    opacity: 0;
  }
}
