@import '../../blocks/drop-down-date/drop-down-date';
@import '../../blocks/drop-down/drop-down';
@import '../../blocks/card/card';
@import '../../blocks/button/button';

.card-find-number {
  margin-bottom: 38px;
  &__drop-down-guests {
    margin-top: 20px;
    margin-bottom: 31px;
  }
}
