include ../../blocks/card/card
include ../../blocks/drop-down-date/drop-down-date
include ../../blocks/drop-down/drop-down
include ../../blocks/drop-down-date/drop-down-date
mixin card-find-number(data)
  .card-find-number(class=data.cardClass)
    +card({
          title    : "Найдём номера под ваши пожелания",
          cardClass: "card-find-number__card"
      })
          +drop-down-date({
            titleFrom     : "Прибытие",
            titleTo       : "Выезд",
            placeholder   : "ДД.ММ.ГГГГ",
            menuButtons  : [{
              text      : "Очистить",
              name      : "clear",
            },{
              text      : "Применить",
              name      : "apply",
            }],
            dropDownClass: "card-find-number__drop-down-date"
          })
          +drop-down(
            {title         : "Гости",
             titleText     : "",
             placeholder   : "Сколько гостей",
             inputText     : "",
             readOnly      : true,
             buttonText    : "",
             textFieldClass: "text-field--placeholder-dark-75",
             items        : [
               {text      : "Взрослые",
                value     : 0
               },
               {text      : "Дети",
                value     : 0
               },
               {text      : "Младенцы",
                value     : 0
               }
             ],
             menuButtons  : [
               {text      : "Очистить",
                name      : "clear",
               },
               {text      : "Применить",
                name      : "apply",
               },

             ],
             dropDownClass: "card-find-number__drop-down-guests"
             }
          )
          +button(     
          { name       : "btn7",
            text       : "Подобрать номер",
            symbol     : "arrow_forward",
            buttonClass: "card-find-number__button-submit button--fill button--width-full"
          })