include ../../blocks/card/card
include ../../blocks/drop-down-date/drop-down-date
include ../../blocks/drop-down/drop-down
include ../../blocks/button/button

mixin card-find-number(data)
  .card-find-number(class=data.cardClass)
    +card({
          title    : "Найдём номера под ваши пожелания",
          cardClass: "card-find-number__card"
      })
      +drop-down-date(
        {
          type          : "date",
          titleFrom     : "Прибытие",
          titleTo       : "Выезд"
        }
      )(class="card-find-number__drop-down-date")
      +drop-down(
        {
          type          : "guests",
          title         : "Гости"
        }
      )(class="card-find-number__drop-down-guests")
      +button(     
        { 
          type       : "filled-arrow",
          text       : "Подобрать номер",
        }
      )(class="card-find-number__button-submit")