
include ../../blocks/rate-button/rate-button
include ../../blocks/room-info/room-info
include ../../blocks/slider/slider


mixin room(roomNumber)
    - var  fs = require('fs')
    - var rootDir = require('path').resolve() 
    - var dataJsonRoom = JSON.parse(fs.readFileSync(rootDir+'/src/blocks/room/room.json'));

    - for (var x = 0; x < dataJsonRoom.length; x++)
       if(dataJsonRoom[x].roomNumber===roomNumber)
        - var data= dataJsonRoom[x]

    .room(class=data.roomClass)&attributes(attributes)
      +slider(
          { 
           items        : data.imageItems,
            sliderClass: "room__slider" 
           }
        )
      +room-info(
          {roomNumber  : data.roomNumber,
           roomType    : data.roomType,
           roomPrice   : data.roomPrice
          }
      )(class="room__room-info room-info--font-size-small")
      .room__line
      +rate-button(
        { name           : "room__rate-"+data.roomNumber,
          value          : 5,
          checked        : data.rateChecked,
          rateButtonClass: "room__rate-button"
        }
      )
      .room__rate-count 
          #{"strong"}= data.rateCount
          |   Отзывов


