include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block head
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

  body(class=pageClass)
    
    #app
      include ../includes/modules/header
      .content-wrapper
        block content
          include ../includes/modules/content 
      include ../includes/modules/footer

    block script