include ../../blocks/card/card
include ../../blocks/room-info/room-info
include ../../blocks/drop-down/drop-down
include ../../blocks/drop-down-date/drop-down-date
include ../../blocks/calc-box/calc-box

mixin card-booking(data)
  .card-booking&attributes(attributes)
    +card({
      title    : ""
    })

      +room-info(data)(class='card-booking__room-info')

      +drop-down-date(
        {
          type          : "date",
          titleFrom     : "Прибытие",
          titleTo       : "Выезд"
        }
      )(class="card-booking__drop-down-date-in")

      +drop-down(
        {
          type          : "guests",
          title         : "Гости",
        }
      )(class="card-booking__guests")

      +calc-box({
        items  :[
          {text : "9 990₽ х 4 суток", 
           hint : "",
           value: "39 960₽"
           },
          {text : "Сбор за услуги: скидка 2 179₽", 
           hint : "hint",
           value: "0₽"
           },
          {text : "Сбор за дополнительные услуги", 
           hint : "hint",
           value: "300₽"
        }],
        totalText : "Итого",
        totalValue: "38 081₽" 
      })(class="card-booking__calc")
      +button(     
        { 
          type       : "filled-arrow", 
          text       : "забронировать" 
        }
      )(class="card-booking__button-book")