.card-booking {
  margin-bottom: 37px;
  &__room-info {
    margin-bottom: 16px;
  }

  &__drop-down-date-in {
    margin-bottom: 20px;
  }

  &__guests {
    margin-bottom: 18px;
  }

  &__button-book {
    margin-top: -2px;
  }
}
