include ../../blocks/text-field/text-field

mixin drop-down(data)
  .drop-down(class=data.dropDownClass)&attributes(attributes)
    +text-field(
        {title         : data.title,
         titleText     : data.titleText,
         placeholder   : data.placeholder,
         inputText     : data.inputText,
         buttonText    : "expand_more",
         readOnly      : true,
         textFieldClass: data.textFieldClass
         }
      )
      
    .drop-down__menu
      if data.addCalendar
        .data-picker(class="datepicker-here")
      ul.drop-down__items
        each item in data.items
          li.drop-down__item
            div.drop-down__item-text= item.text
            .drop-down__item-group
              button.drop-down__item-button -
              input.drop-down__item-input(type="text", name="drop-down__input-" value= item.value )
              button.drop-down__item-button +
      if(data.menuButtons)
        .drop-down__menu-buttons
          each item in data.menuButtons 
            button(class="drop-down__menu-button" name= item.name )= item.text