include ../../blocks/text-field/text-field



mixin drop-down(data)
  - var blockName = "drop-down"
  - var  fs = require('fs')
  - var rootDir = require('path').resolve() 
  - var dataElementDD = JSON.parse(fs.readFileSync(rootDir + '/src/pug/blocks/' + blockName +'/' + blockName + '.json'));
  - for (x = 0; x < dataElementDD.length; x++)
    if dataElementDD[x].type === data.type
      - Object.assign(data, dataElementDD[x]);
  .drop-down(class=data.dropDownClass)&attributes(attributes)
    +text-field(
        {title         : data.title,
         titleText     : data.titleText,
         placeholder   : data.placeholder,
         inputText     : data.inputText,
         buttonText    : data.buttonText,
         readOnly      : true,
         textFieldClass: data.textFieldClass
         }
      )
      
    .drop-down__menu
      if data.addCalendar
          +calendar({
            calendarClass: "cards__calendar"
          })
      if (data.items)
        ul.drop-down__items
          each item in data.items
            li.drop-down__item
              div.drop-down__item-text= item.text
              .drop-down__item-group
                button.drop-down__item-button -
                input.drop-down__item-input(type="text", name="drop-down__input-" value= item.value )
                button.drop-down__item-button +
      if(data.menuButtons)
        .drop-down__menu-buttons
          each item in data.menuButtons 
            +button({ 
              type       : item.type
              })