include ../../blocks/list-item/list-item

mixin list(data)
  .list&attributes(attributes)
    .list__title= data.title
    each item in data.items
      +list-item({
        title    : "",
        text     : item.text,
        symbol   : "",
        urlPic   : "",
        classItem: data.listItemClass
        }
      )(class="list__item")