@import "../../pug/blocks/button/button"; 

.header{
    display : flex;
    align-items: center;
    padding: 0 140px;
    height: 70px;
    background: $white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    

    &__logo{
        width: 40px;
        height: 40px;
        background-size: cover;
    }
    


    &__nav{
        display: flex;
        list-style: none;
        margin-left: auto;
    }

    &__nav-item{
        display: flex;
        margin-right: 29px;   


    }

    &__nav-text{
        color: $dark-shade-50;
    }

    &__nav-symbol{
        @extend %material-icons;
        color: $dark-shade-50;
    }

    

    &__buttons-auth{
        display: flex;
        height: 34px;
    }

    &__button-login{
        width: 79px;
        margin-right: 20px;
    }

    &__button-register{
        width: 101px;
    }

    &__user{
        position: relative;
        display: none;
        margin-left: 34px;
        color: $dark-shade-50;
        
    }

    &__user::before{
        position: absolute;
        content: "";
        height: 30px;
        left: -31px;
        width: 1px;
        background: $dark-shade-50;

        
     }

    &.header--logined &__buttons-auth{
        display: none;
    }
    &.header--logined &__user{
       display: block;
    }
    




    &__nav-item.header__nav--has-submenu{
        margin-right: 19px;
            
    }
}