extends ../index.pug
block variables
  - var title = "Form Elements";
  - var author = "enlore";
  - var theGreat = "<span>escape!</span>";

block header

block content
  include ../../blocks/card-find-number/card-find-number
  include ../../blocks/card-register/card-register
  include ../../blocks/card-booking/card-booking
  include ../../blocks/card-login/card-login
  include ../../blocks/button/button
  include ../../blocks/room/room
  include ../../blocks/calendar/calendar
  include ../../blocks/logo/logo

  .cards
    +logo({
      logoClass: "cards__logo",
    })
    .cards__section1
      +card-find-number({
         cardClass : "cards__card-find-number"
      })
      +card-register()(class="cards__card-register")
    .cards__section2
      +card-booking(
        {
          "roomNumber": 888,
          "roomType": "люкс",
          "roomPrice": "9 990"
        }
      )(class="cards__card-booking")   
      +card-login()(class="cards__card-login")
    .cards__section3
      +card({
        cardClass:"cards__card-calendar card--padding-null"
        }
      )
        +calendar(
          {
          calendarClass: "cards__calendar calendar__datepicker"
          }
        )
        +button({ 
          type       : "clear"
          })(class="cards__calendar-button-clear")
        +button({ 
          type       : "apply"
          })(class="cards__calendar-button-apply")
      +card({
        cardClass:"cards__card-room card--padding-null"
      })
        +room(888)
      +card({
        cardClass:"cards__card-room card--padding-null"
      })
        +room(840)