.like-button {
  display: inline-block;
  &__item-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &__item-text {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 20px;
    padding: 0px 0 0 10px;
    text-align: center;
    font-size: 0.625rem;
    line-height: 20px;
    color: $dark-shade-25;
    background-image: linear-gradient(
      180deg,
      $dark-shade-25 0%,
      $dark-shade-25
    );
    background-origin: border-box;
    border: 1px solid transparent;
    box-shadow: inset 0 3.125rem #fff;
    border-radius: 10px;
  }

  &__item-input:checked + &__item-text {
    color: $purple;
    background-image: $linear-color-1;
  }

  &__item-text:after {
    @extend %material-icons;
    content: "favorite_border";
    width: 40px;
    height: 20px;
    font-size: 10px;
    line-height: 9px;
    position: absolute;
    left: 5px;
    top: -1px;
  }

  &__item-input:checked + &__item-text:after {
    content: "favorite";
    color: $purple;
  }
}
