include ../ui-slider/ui-slider

mixin range-slider(data)
  .range-slider(class = data.rangeSliderClass)
      .range-slider__value= data.value
      .range-slider__title= data.title
      +ui-slider()
      .range-slider__text= data.text
      
