include ../../blocks/logo/logo
include ../../blocks/button/button

- var  fs = require('fs')
- var rootDir = require('path').resolve() 
- var dataJsonH = JSON.parse(fs.readFileSync(rootDir+'/src/blocks/header/header.json'));

mixin header(name)

   - for (var x = 0; x < dataJsonH.length; x++)
        if(dataJsonH[x].id===name)
            - var data= dataJsonH[x].data
   .header(class = data.headerClass)
    +logo({
        logoClass: "header__logo",
        type     : "full"
    })
    ul.header__nav
      each item in data.navItems
         li.header__nav-item(class= (item.hasSubmenu == true) ? "header__nav--has-submenu" : "")
           .header__nav-text!= item.text
           if (item.symbol)
               .header__nav-symbol= item.symbol= item.symbol
    
    .header__buttons-auth
        +button({
            name       : "btn-header-login",
            text       : data.buttonLoginText,
            symbol     : "",
            buttonClass: "header__button-login button--border button--slim-border"
        })

        +button({
            name       : "btn-header-register",
            text       : data.buttonRegisterText,
            symbol     : "",
            buttonClass: "header__button-register button--fill button--slim-fill"
        })
    .header__user= data.userName

