include ../calendar/calendar
include ../text-field/text-field



mixin drop-down-date(data) 
  //- Добавление данных из файла json по введенному type при вызове миксина
  - var blockName = "drop-down-date"
  +dataFromJSON(blockName, data)
  .drop-down-date(class=data.dropDownClass)&attributes(attributes)
    .drop-down-date__dates  
      +text-field( 
        {
          type          : blockName,
          title         : data.titleFrom,
          textFieldClass: data.textFieldClass
        }
        )
      if (data.titleTo)
        +text-field(
        {
          type          : blockName,
          title         : data.titleTo,
          textFieldClass: data.textFieldClass
        }
        )
    .drop-down-date__menu
      +calendar({
        calendarClass: "drop-down-date__calendar"
      })
      if(data.menuButtons)
        .drop-down-date__menu-buttons
          each item in data.menuButtons 
            +button({ 
              name       : item.name,
              text       : item.text,
              symbol     : "",
              buttonClass: "button--border-none"
              })



